*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: linear-gradient(90deg, rgba(3,158,252,1) 16%, rgba(1,222,0,1) 78%);
}

.btn{
    background: linear-gradient(
90deg
, rgba(3,158,252,1) 16%, rgba(1,222,0,1) 78%);
    padding: 12px 21px;
    border-radius: 3px;
    display: block;
    margin: auto;
    border: 0;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.contact-form{
    width: 800px;
    margin: 80px auto;
    background-color: #fff;
    border-radius: 2px;
    padding: 50px;
}


.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.w-50{
    width: 50%;
    padding: 0 15px;
}

.contact-form input, .contact-form textarea{
    display: block;
    padding: 15px 6px;
    border-radius: 2px;
    background-color: #607d8b26;
    width: 100%;
    border: 0;
    margin-bottom: 30px;
}


.contact-form label{
    display: block;
    margin-bottom: 8px;
}


.comb  p {
    background-color: red;
    margin-bottom: 30px;
}

.comb > p {
     background-color: red;
     margin-bottom: 30px;
}

.comb + h1{
    background-color: greenyellow;
}

.comb ~ h1{
    background-color: rgb(0, 0, 0);
}